{{ define "main" }}

<section class="site-about-header">
    <div class="container">
      <div class="row header-row">
        <div class="col-12 header-col">
          <div class="site-about-wrapper">
            <div class="site-about-company" id="team-about-header">
              <h1>
                {{ .Params.heading }}
                {{ with .Site.Data.socials }}
                  {{ if .enable }}
                        {{ range .accounts }}
                          <a class="social-button" href="{{ .link }}"><i class="{{ .icon }}"></i></a>
                        {{ end }}
                  {{ end }}
                {{ end }}
              </h1>
            </div>
            <div class="site-about-description" id="team-about-description">
              <h4>{{.Params.contactTitle}}</h4>
              <p>{{.Params.contactContent}} <a href="mailto:{{.Site.Params.contact.email}}">{{.Site.Params.contact.email}} <i class="fa-solid fa-envelope"></i></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<section class="team-section">
    <div class="container">
      <div class="row">
        {{ range (.Paginator 9999999).Pages }}
            <div class="team-member">
                {{ if .Params.photoTag }}
                  <p class="team-member-photo-tag">{{.Params.photoTag}}</p>
                {{ end }}
                {{ with .Params.image }}
                    <img class="team-headshot" src="{{ . | absURL }}" alt="team-thumb">
                {{ end }}
                <div class="text-content-wrapper team-member-bio">
                    {{ .Content }}
                </div>
            </div>
        {{ end }}
      </div>
    </div>
</section>
{{ end }}