{{ define "main" }}





<section class="team-section">
    <div class="container">
      <div class="row">
        {{ range (.Paginator 2).Pages }}
            <div class="team-member" style="width: 100%;">
                <div class="col-4">
                    {{ with .Params.image }}
                    <div class="team-headshot">
                        <img src="{{ . | absURL }}" alt="team-thumb" style="width: 100%;">
                    </div>
                    {{ end }}
                </div>
                <div class="col-6">
                    <p>hello world</p>
                </div>
            </div>
        {{ end }}
        
        
        
      </div>
    </div>
</section>





{{ end }}