{{ define "main" }}

<section class="site-about-header">
  <div class="container">
    <div class="row header-row">
      <div class="col col-12 header-col">
        <div class="site-about-wrapper">
          <div class="site-about-company" alt="The page headline reads {{ .Params.heading }}">
            <h1>
              {{ .Params.heading }}
            </h1>
          </div>
          <div class="site-about-description" alt="The page description is placed to the right of the page headline. It reads {{ .Description}}">
            <p>
              {{ .Description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-about-body">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="text-content-wrapper" alt="The body of the page consists of several full-width sections of paragraph text, separated by subheadings.">
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}