{{ define "main" }}

{{ with .Site.Params.banner }}
  {{ if .enable }}
  {{ "<!-- Site Hero Start -->" | safeHTML }}
  <section class="site-hero"> 
    <div class="container">
      <video id="hero-video" autoplay loop muted>
        <source src="{{.backgroundGraphic}}" type="video/mp4" />
        Your browser does not support the video tag.
      </video>   
      <div class="row">
        <div class="col col-lg-10 mx-auto">
          <div class="site-hero-content text-center">
            <div class="site-hero-header">
              <h1 class="site-hero-headline-wrapper">
                <a class="site-hero-headline">{{ .heading }}</a>
              </h1>
              <h6><a class="site-tagline">{{ .tagline }}</a></h6>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ "<!-- Site Hero End -->" | safeHTML }}
  {{ end }}
{{ end }}


<section class="site-counter" id="counter">
<div class="container">
    <div class="row">
    <div class="col col-12">
        <div class="section-title">
          <h2 class="text-white counter-header">{{ .Params.description }}</h2>
        </div>
        <ul class="site-hero-content-buttons">
          {{ with .Site.Data.homepageButtons }}
          {{ if .enable }}
              {{ range .buttons }}
                <li>
                  <a href="{{.link}}" class="btn btn-primary">
                    <span class="btn-area">
                      <span>
                        {{ .text }}
                      </span>
                    </span>
                  </a>
                </li>
              {{ end }}
            {{ end }}
          {{ end }}
        </ul>
    </div>
    </div>
</div>
</section>


<section class="site-homepage-blurb">
<div class="container">
    <div class="row">
        <div class="homepage-about-blurb text-content-wrapper">
            {{.Content}}
        </div>
    </div>
</div>
</section>

<section class="site-testimonial featured-document-section homepage-section">
<div class="container" id="featured-document-container">
    {{ with .Site.Data.homepageAnnotations }}
      {{ if .enable }}
          {{ range .annotations }}
            <div class="row stagger-row">
              <div class="col col-6 doccloud-embed-col">
                <div class="embed doccloud-embed">
                  <div
                    id="DC-note-{{.annotID}}"
                    class="DC-embed DC-embed-note DC-note-container"
                  ></div>
                  <script src="https://www.documentcloud.org/notes/loader.js"></script>
                  <script>
                    dc.embed.loadNote(
                      "https://next.www.documentcloud.org/documents/{{.documentID}}/annotations/{{.annotID}}.js"
                    );
                  </script>
                  <noscript>
                    <a
                      href="https://next.www.documentcloud.org/documents/{{.documentID}}/annotations/{{.annotID}}"
                      >View note</a
                    >
                  </noscript>
                </div>
              </div>
              <div class="col col-6 text-content-wrapper">
                <h2 class="featured-document-headline">{{.heading}}</h2>
                <p class="body-text annotation-description">
                  {{.text}}
                </p>
            </div>
          </div>
          {{ end }}
        {{ end }}
    {{ end }}
</div>
</section>



{{ end }}