{{ define "main" }}

{{ with .Site.Params.banner }}
  {{ if .enable }}
  {{ "<!-- Site Hero Start -->" | safeHTML }}
  <section class="site-hero" style="background-image: url('{{ .background_image }}');">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <div class="site-hero-content text-center">
            <div class="site-hero-header">
              <h6><a class="site-tagline">{{ .tagline }}</a></h6>
              <h1 class="site-hero-headline-wrapper">
                <a class="site-hero-headline">{{ .heading }}</a>
              </h1>
            </div>
            <ul class="site-hero-content-buttons">
              <li>
                <a href="{{ .primary_button_url | absURL }}" class="btn btn-primary">
                  <span class="btn-area">
                    <span data-text="{{ .primary_button }}">
                      {{ .primary_button }}
                    </span>
                  </span>
                </a>
              </li>
              <li>
                <a href="{{ .secondary_button_url | absURL }}" class="btn btn-secondary">
                  <span class="btn-area">
                    <span data-text="{{ .secondary_button }}">
                      {{ .secondary_button }}
                    </span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <a href="#counter" class="site-hero-scroll scroll-to">
      <img src="{{ "images/arrow-down.svg" | absURL }}" alt="arrow-down">
    </a>
  </section>
  {{ "<!-- Site Hero End -->" | safeHTML }}
  {{ end }}
{{ end }}


<section class="site-counter" id="counter">
<div class="container">
    <div class="row">
    <div class="col-12">
        <div class="section-title">
        <h2 class="text-white counter-header">{{ .Params.description }}</h2>
        </div>
    </div>
    </div>
</div>
</section>

<section class="site-homepage-blurb">
<div class="container">
    <div class="row">
        <div class="homepage-about-blurb">
            {{.Content}}
        </div>
    </div>
</div>
</section>

<section class="site-testimonial featured-document-section homepage-section">
<div class="container" id="featured-document-container">
    <div class="row">
        <div class="col-5">
            <p class="section-tag">Featured Document</p>
            <h2 class="featured-document-headline">{{.Params.featuredTitle}}</h2>
            <p class="body-text">{{ .Params.featuredDescription}}</p>
        </div>
        <div class="col-7">
            <iframe
              src="{{ .Params.featuredLink}}"
              title="{{ .Params.featuredTitle}}"
              width="700"
              height="990"
              style="
                border: none;
                width: 100%;
                height: 800px;
                height: calc(120vh - 100px);
              "
              sandbox="allow-scripts allow-same-origin allow-popups allow-forms allow-popups-to-escape-sandbox"
            ></iframe>
        </div>
    </div>
</div>
</section>

<section class="site-homepage-table-section homepage-section">
    <div class="container">
        <div class="row">
            <div class="col-7">
                <div style="min-height:1366px" id="datawrapper-vis-Yh6mX"><script type="text/javascript" defer src="https://datawrapper.dwcdn.net/Yh6mX/embed.js" charset="utf-8" data-target="#datawrapper-vis-Yh6mX"></script><noscript><img src="https://datawrapper.dwcdn.net/Yh6mX/full.png" alt="This table shows each officer's name, their title and the number of incidents they were charged with. The table is sorted by the number of incidents in descending order and the corresponding column is heat mapped. The table also provides links to each officer's documents on DocumentCloud." /></noscript></div>
            </div>
            <div class="col-5">
                <p class="section-tag">Explore the Data</p>
                <h2 class="featured-document-headline">{{ .Params.exploreTitle }}</h2>
                <p class="body-text">{{.Params.exploreDescription}}</p>
                <h5>Subscribe for updates on new documents</h5>
                <div class="subscribe-wrapper">
                    <input type="email" placeholder="Subscribe..." class="email-subscribe subscribe-homepage">
                    <div class="subscribe-trigger"><i class="fa-solid fa-envelope"></i></div>
                </div>
            </div>
        </div>
    </div>
    </section>

{{ end }}