{{ define "main" }}

<section class="site-about-header">
  <div class="container">
    <div class="row header-row">
      <div class="col col-12 header-col">
        <div class="site-about-wrapper">
          <div class="site-about-company">
            <h1>
              {{ .Params.title }}
            </h1>
            <div id="custom-substack-embed" class="substack-embed-header" alt="An embedded form. Takes an email address as input and subscribes that address to the project's Substack newsletter when the user presses enter."></div>
          </div>
          <div class="site-about-description">
            <p class="description">
              {{ .Description | safeHTML }}
            </p>
            <p class="tagline">
              {{ .Params.tagline | safeHTML }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-project" id="project" alt="A grid of reported stories produced by the Behind the Badge project. Two stories are included per row, with an image, title, and brief description text for each story.">
  <div class="container">
    <div class="row">
      {{ range (.Paginator 999999).Pages }}
      <div class="col-lg-6 col-md-10 mx-auto col">
        <a href="{{.Params.link}}" alt="Click to view the story titled {{.Params.headline}}">
          <div class="site-project-item">
            <div class="site-project-item-thumb">
              {{ with .Params.image }}
                <img class="project-thumb-img" src="{{ . | absURL }}" alt="team-thumb">
              {{ end }}
            </div>
            <div class="site-project-item-content">
              <h4 class="project-item-title">{{.Params.headline}}</h4>
              <p class="project-item-blurb">{{.Params.subhead}}</p>
            </div>
          </div>
        </a>
      </div>
      {{ end }}
      <div class="col-12">
        <div class="site-project-pagination">
          {{ template "_internal/pagination.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sponsors-section" alt="A grid of the project's financial sponsors.">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <h3 class="sponsor-title">With generous support from our sponsors</h3>
      </div>
      <div class="col col-12">
        {{ with .Site.Data.sponsors }}
        {{ if .enable }}
            {{ range .sponsors }}
              <a href="{{.link}}" alt="A project sponsor called {{.name}}. Click to learn more about this sponsor."><div class="sponsor">
                <img class="sponsor-img" src="{{ .image | absURL}}">
              </div></a>
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>

{{ end }}
