{{ define "main" }}

<section class="site-about-header">
  <div class="container">
    <div class="row">
      
    </div>
  </div>
</section>

<section class="site-about-body">
  <div class="container">
    <div class="row">
      <div class="col-4">
          <div class="document-page-header">
            <h1>
              {{ .Params.heading }}
            </h1>
          </div>
          <p class="body-text">
            {{.Content}}
          </p>
      </div>
      <div class="col-8">
          <div class="embed">
            <iframe
              src="https://next.www.documentcloud.org/projects/215178-ocr-reprise/?embed=1"
              title="Test project (Hosted by DocumentCloud)"
              width="100%"
              height="600"
              style="border: 1px solid #aaa"
              sandbox="allow-scripts allow-same-origin allow-popups allow-forms allow-popups-to-escape-sandbox"
            ></iframe>
          </div>
      </div>
      <div class="col-12">
        <h3>Explore By County</h3>
        <p>[interactive map, two column layout]</p>
      </div>
      <div class="col-12">
        <h3>Explore All Documents</h3>
        <p>[full table and/or document cloud embed. One here, the other at the top of the page.]</p>
      </div>
    </div>
  </div>
</section>

{{ end }}